<span class="moreMenu-iconContainer">
  <i [ngClass]="[
      (options$ | async).isIn ? 'isActive' : 'isInactive',
      (options$ | async).vivid ? 'isVivid' : 'isNotVivid',
      (options$ | async).visible ? 'isVisible' : 'isNotVisible']"
    class="moreMenu-icon u-supre-icon u-supre-icon--more-menu-fill js-moreMenuIcon"></i>
</span>
<div *ngIf="(options$ | async).isIn" [ngClass]="['align-' + (options$ | async).align]"
  class="js-moreMenuItems moreMenu-items">
    <ng-content></ng-content>
</div>
