/**
 * Design Reference:
 * https://cacoo.com/diagrams/88x93Ppap4rtGUhs#5F65C
 */
/**
 * Collection of the colors
 */
:host {
  display: inline-block; }

.moreMenu-iconContainer {
  text-align: center; }

.moreMenu-icon {
  color: #55a0c2; }

.moreMenu-icon.isNotVisible {
  visibility: hidden; }

.moreMenu-icon.isVisible {
  visibility: visible; }

.moreMenu-icon.isNotVivid {
  color: #9fb3c3; }

.moreMenu-icon.isInactive {
  color: #9fb3c3; }

.moreMenu-icon.isVivid {
  color: #55a0c2; }

.moreMenu-icon.isActive {
  color: #55a0c2; }

.moreMenu-icon {
  color: #ffffff;
  width: 1em;
  height: 1em; }

.moreMenu-items {
  position: absolute;
  width: 130px;
  border: 3px solid #55a0c2;
  border-radius: 5px;
  background-color: #ffffff;
  height: auto;
  max-height: 180px;
  overflow-x: hidden;
  z-index: 100000; }

.moreMenu-items.align-left {
  margin-left: -110px; }

.moreMenu-items.align-middle {
  margin-left: -55px; }

.moreMenu-items.align-right {
  margin-left: inherit; }

.moreMenu-label {
  background-color: #55a0c2;
  padding: 6px 10px 3px 10px;
  color: #ffffff;
  font-size: 9px;
  font-weight: 600;
  text-align: center;
  font-family: Verdana;
  text-transform: uppercase;
  margin: 0; }
