<h2>No Directives Applied</h2>

<supre-example-no-directives class="js-default"></supre-example-no-directives>


<h2>Directives in Isolation</h2>

<h4>supreAlign</h4>
<supre-example-right-aligned class="js-right"></supre-example-right-aligned>
<hr>
<supre-example-middle-aligned class="js-middle"></supre-example-middle-aligned>
<hr>
<supre-example-left-aligned class="js-left"></supre-example-left-aligned>

<h4>supreVivid</h4>
<supre-example-vivid class="js-vivid"></supre-example-vivid>
<hr>
<supre-example-not-vivid class="js-notVivid"></supre-example-not-vivid>
<hr>
<supre-example-dynamically-vivid class="js-dynamicallyVivid"></supre-example-dynamically-vivid>

<h4>supreVisible</h4>
<supre-example-visible class="js-visible"></supre-example-visible>
<hr>
<supre-example-not-visible class="js-notVisible"></supre-example-not-visible>
<hr>
<supre-example-dynamically-visible class="js-dynamicallyVisible"></supre-example-dynamically-visible>


<h2>Some Combinations of Directives</h2>
<supre-example-dynamically-visible-left-aligned></supre-example-dynamically-visible-left-aligned>
<hr>
<supre-example-dynamically-vivid-middle-aligned></supre-example-dynamically-vivid-middle-aligned>
<hr>
<supre-example-not-vivid-left-aligned></supre-example-not-vivid-left-aligned>
