<h2>No Options Applied</h2>

<supre-example-no-options class="js-default"></supre-example-no-options>


<h2>Options in Isolation</h2>

<h4>align</h4>
<supre-example-right-aligned class="js-right"></supre-example-right-aligned>
<hr>
<supre-example-middle-aligned class="js-middle"></supre-example-middle-aligned>
<hr>
<supre-example-left-aligned class="js-left"></supre-example-left-aligned>

<h4>vivid</h4>
<pre>
  NOTE: vivid and active happen to share the same css, but are in fact two separate states.
  Active refers to whether or not the menu icon or menu is being hovered over, and is
  managed by the more menu itself (interally with an isIn subject and observable stream).
  Vivid refers to a parent being able to configure the more menu icon (statically or
  dynamically) to the background/foreground presenentation.
</pre>
<supre-example-vivid class="js-vivid"></supre-example-vivid>
<hr>
<supre-example-not-vivid class="js-notVivid"></supre-example-not-vivid>
<hr>
<supre-example-dynamically-vivid class="js-dynamicallyVivid"></supre-example-dynamically-vivid>

<h4>visible</h4>
<supre-example-visible class="js-visible"></supre-example-visible>
<hr>
<supre-example-not-visible class="js-notVisible"></supre-example-not-visible>
<hr>
<supre-example-dynamically-visible class="js-dynamicallyVisible"></supre-example-dynamically-visible>


<h2>Some Combinations of Options</h2>
<supre-example-dynamically-visible-left-aligned></supre-example-dynamically-visible-left-aligned>
<hr>
<supre-example-dynamically-vivid-middle-aligned></supre-example-dynamically-vivid-middle-aligned>
<hr>
<supre-example-not-vivid-left-aligned></supre-example-not-vivid-left-aligned>
<hr>
