@import "scss/colors";
@import "utils/z-indexes";

$icon-width: 20px;
$menu-width: 130px;
$align-left-margin-left: - ($menu-width - $icon-width);
$align-middle-margin-left: - ($menu-width/2 - $icon-width/2);
$align-right-margin-left: inherit;
$menu-height-max: 180px;

:host {
  display: inline-block;
}
.moreMenu-iconContainer {
  text-align: center;
}
.moreMenu-icon {
  color: $primary;
}
.moreMenu-icon.isNotVisible {
  visibility: hidden;
}
.moreMenu-icon.isVisible {
  visibility: visible;
}
.moreMenu-icon.isNotVivid {
  color: $primary-not-vivid;
}
.moreMenu-icon.isInactive {
  color: $primary-inactive;
}
.moreMenu-icon.isVivid {
  color: $primary-vivid;
}
.moreMenu-icon.isActive {
  color: $primary-active;
}
.moreMenu-icon {
  color: $secondary-color;
  width: 1em;
  height: 1em;
}
.moreMenu-items {
  position: absolute;
  width: $menu-width;
  border: 3px solid $primary;
  border-radius: 5px;
  background-color: $white;
  height: auto;
  max-height: $menu-height-max;
  overflow-x: hidden;
  z-index: $z-index-dropdown-backdrop;
}
.moreMenu-items.align-left {
  margin-left: $align-left-margin-left;
}
.moreMenu-items.align-middle {
  margin-left: $align-middle-margin-left;
}
.moreMenu-items.align-right {
  margin-left: $align-right-margin-left;
}
.moreMenu-label {
  background-color: $primary;
  padding: 6px 10px 3px 10px;
  color: $white;
  font-size: 9px;
  font-weight: 600;
  text-align: center;
  font-family: Verdana;
  text-transform: uppercase;
  margin: 0;
}

.fillHeight {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    max-height: 100%;
}
