@import "scss/colors";

$icon-width: 20px;
$menu-width: 180px;
$align-left-margin-left: - ($menu-width - $icon-width);
$align-middle-margin-left: - ($menu-width/2 - $icon-width/2);
$align-right-margin-left: inherit;
$menu-height-max: 180px;

:host {
  display: inline-block;
}
.moreMenu-iconContainer {
  text-align: center;
}
.moreMenu-icon {
  background-color: $primary;
}
.moreMenu-icon.isNotVisible {
  visibility: hidden;
}
.moreMenu-icon.isVisible {
  visibility: visible;
}
.moreMenu-icon.isNotVivid {
  background-color: $primary-not-vivid;
}
.moreMenu-icon.isInactive {
  background-color: $primary-inactive;
}
.moreMenu-icon.isVivid {
  background-color: $primary-vivid;
}
.moreMenu-icon.isActive {
  background-color: $primary-active;
}
.moreMenu-icon {
  border: 3px solid $secondary-color;
  color: $secondary-color;
  border-radius: 50%;
  width: 1em;
  height: 1em;
}
.moreMenu-items {
  position: absolute;
  width: $menu-width;
  border: 3px solid $primary;
  border-radius: 5px;
  background-color: $white;
  padding: 8px 0;
  height: auto;
  max-height: $menu-height-max;
  overflow-x: hidden;
}
.moreMenu-items.align-left {
  margin-left: $align-left-margin-left;
}
.moreMenu-items.align-middle {
  margin-left: $align-middle-margin-left;
}
.moreMenu-items.align-right {
  margin-left: $align-right-margin-left;
}
