@charset "UTF-8";
/**
 * Design Reference:
 * https://cacoo.com/diagrams/88x93Ppap4rtGUhs#5F65C
 */
/**
 * Collection of the colors
 */
@font-face {
  font-family: 'Audri-alpha';
  src: url("fonts/Audri-alpha.woff2?m86406") format("woff2"), url("fonts/Audri-alpha.ttf?m86406") format("truetype"), url("fonts/Audri-alpha.woff?m86406") format("woff"), url("fonts/Audri-alpha.svg?m86406#Audri-alpha") format("svg");
  font-weight: normal;
  font-style: normal; }

.u-supre-icon, .moreMenu-icon.isActive, .moreMenu-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Audri-alpha' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.u-supre-icon--checked:before {
  content: ""; }

.u-supre-icon--partial-check:before {
  content: ""; }

.u-supre-icon--unchecked:before {
  content: ""; }

.u-supre-icon--add-create:before {
  content: ""; }

.u-supre-icon--library:before {
  content: ""; }

.u-supre-icon--user-menu-icon:before {
  content: ""; }

.u-supre-icon--arrow-down-stroke:before {
  content: ""; }

.u-supre-icon--arrow-right-stroke:before {
  content: ""; }

.u-supre-icon--arrow-right-filled:before {
  content: ""; }

.u-supre-icon--arrow-down-filled:before {
  content: ""; }

.u-supre-icon--more-menu-dots-only:before {
  content: ""; }

.u-supre-icon--more-menu-stoke:before, .moreMenu-icon:before {
  content: ""; }

.u-supre-icon--more-menu-fill:before, .moreMenu-icon.isActive:before {
  content: ""; }

.u-supre-icon--search:before {
  content: ""; }

.u-supre-icon--edit:before {
  content: ""; }

.u-supre-icon--snapshot:before {
  content: ""; }

.u-supre-icon--export:before {
  content: ""; }

.u-supre-icon--refresh-clear:before {
  content: ""; }

.u-supre-icon--filter:before {
  content: ""; }

.u-supre-icon--audience:before {
  content: ""; }

.u-supre-icon--dollar-sign:before {
  content: ""; }

.u-supre-icon--number-sign:before {
  content: ""; }

.u-supre-icon--delete-x:before {
  content: ""; }

.u-supre-icon--Auto:before {
  content: ""; }

.u-supre-icon--CPG-food:before {
  content: ""; }

.u-supre-icon--CPG-health-beauty:before {
  content: ""; }

.u-supre-icon--CPG-home:before {
  content: ""; }

.u-supre-icon--Consumer-electronics:before {
  content: ""; }

.u-supre-icon--ecommerce:before {
  content: ""; }

.u-supre-icon--entertainment:before {
  content: ""; }

.u-supre-icon--finance:before {
  content: ""; }

.u-supre-icon--insurance:before {
  content: ""; }

.u-supre-icon--pharma:before {
  content: ""; }

.u-supre-icon--QSR:before {
  content: ""; }

.u-supre-icon--retail:before {
  content: ""; }

.u-supre-icon--telco:before {
  content: ""; }

.u-supre-icon--travel:before {
  content: ""; }

.u-supre-icon--other-category:before {
  content: ""; }

.u-supre-icon--trash:before {
  content: ""; }

.u-supre-icon--sort-down:before {
  content: ""; }

.u-supre-icon--sort-up:before {
  content: ""; }

:host {
  display: inline-block; }

.moreMenu-iconContainer {
  text-align: center; }

.moreMenu-icon {
  color: #55a0c2; }

.moreMenu-icon.isNotVisible {
  visibility: hidden; }

.moreMenu-icon.isVisible {
  visibility: visible; }

.moreMenu-icon.isNotVivid {
  color: #9fb3c3; }

.moreMenu-icon.isInactive {
  color: #9fb3c3; }

.moreMenu-icon.isVivid {
  color: #55a0c2; }

.moreMenu-icon.isActive {
  color: #55a0c2; }

.moreMenu-icon {
  color: #ffffff;
  width: 1em;
  height: 1em; }

.moreMenu-items {
  position: absolute;
  width: 130px;
  border: 3px solid #55a0c2;
  border-radius: 5px;
  background-color: #ffffff;
  height: auto;
  max-height: 180px;
  overflow-x: hidden;
  z-index: 100000; }

.moreMenu-items.align-left {
  margin-left: -110px; }

.moreMenu-items.align-middle {
  margin-left: -55px; }

.moreMenu-items.align-right {
  margin-left: inherit; }

.moreMenu-label {
  background-color: #55a0c2;
  padding: 6px 10px 3px 10px;
  color: #ffffff;
  font-size: 9px;
  font-weight: 600;
  text-align: center;
  font-family: Verdana;
  text-transform: uppercase;
  margin: 0; }
