@import "../../node_modules/suprematism-scss/_colors.scss";

$text-color: $gray-dark !default;

$primary-not-vivid: $blue-pale !default;
$primary-inactive: $blue-pale !default;
$primary-vivid: $blue-light !default;
$primary-active: $blue-light !default;
$primary: $blue-light !default;
$secondary-color: $white !default;

