@import "utils/colors";

$text-color: $blue-gray !default;

$primary-not-vivid: $blue-gray !default;
$primary-inactive: $blue-gray !default;
$primary-vivid: $aqua !default;
$primary-active: $aqua !default;
$primary: $aqua !default;
$secondary-color: $white !default;
$text: $blue-gray !default;
$lite-gray: $lite-gray !default;
$soft-green: $soft-green !default;
